<%# Паршиал для отображения инфы об отдельном событии %>
<div class="col-sm-6 col-md-4 mb-2">
  <div class="thumbnail image-for-bg">

    <div class="thumbnail-inner event-info-inner">
      <div class="caption">
        <div class="event-description text-center">
          <h3 class="text-wrap"><%= link_to event.title, event_path(event) %></h3>
          <h3 class="text-wrap"><small><%= l event.datetime, format: :short %></small></h3>
          <div class="buffer-both"><%= event.address %></div>
        </div>
      </div>
    </div>
  </div>
</div>
